.flex-container {
    border: 1px solid red;


}

.flex1,
.flex2 {
    border: 1px solid orange;

    display: table-cell;
}

.flex1 {
    align-content: center;
    flex-direction: row;
}

.flex2 {
    border: 1px solid darkgreen;
    height: 200px;
    align-self: center;
}

.totalflex {
    border: 1px solid blue;

}

.footerother {
    border: 1px solid green;
    display: table-cell;

}